
  <div class="row">
    <div class="form-group">
      <table id="clientOrderHistory" class="table table-striped">
        <thead>
          <tr>
            <th>Purchase Date</th>
            <th>Item ID</th>
            <th>Total Amount</th>
          </tr>
        </thead>
        {{#if orders}}
        <tbody>
        {{#each orders as |order|}}
        {{#if order.editable}}
          <tr>
            <td>{{order.orderDate}}</td>
            <td>{{order.id}}</td>
            <td>{{order.orderTotal}}</td>
          </tr>
          {{/if}}
        {{/each}}
        </tbody>
        {{else}}
          <div class="message">No Orders</div>
        {{/if}}
      </table>
    </div>
  </div>
