{{#if items}}
  <div class="row">
    {{#each items as |item|}}
      <div class="col-sm-4 col-xs-6 col-md-4 item">
        <div class="card">
          <div class="row">
            <div class="col-xs-4">
              <img src="http://cpipros.com/wp-content/uploads/2016/08/Coming-Soon-Placeholder1-400x400.jpg" class="item-image-small">
            </div>
            <div class="col-xs-8">
              <strong>{{name}}</strong>
              <br> ${{price}}
              <br>
              <div class="row">
                <div class="col-xs-4">
                  <select name="item[qty]" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
                <div class="col-xs-8">
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add to cart</button>
                </div>
              </div>

            </div>
          </div>
          {{description}}
        </div>
      </div>

    {{/each}}
  </div>
{{else}}
  <div class="message">No items</div>
{{/if}}
